*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    gap: 50px;
}
#grid{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
   outline: 1px solid rgba(128, 128, 128, 0.5);

}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.divGrid {
    height: 20px;
    width: 20px;
    border: 1px solid rgba(128, 128, 128, 0.185);
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}